@import url("https://fonts.googleapis.com/css2?family=Raleway");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans");

:root {
  --primary: rgb(133, 168, 122);
  --secondary: rgb(103, 138, 92);
  --bg: rgb(31, 54, 43);
}

body {
  background-color: var(--bg);
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
}

header {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 0px 0px 15px 10px var(--bg);
}

header h1 {
  font-family: "Raleway", sans-serif;
  font-size: 28px;
  color var(--primary);
  margin: 0px;
  padding: 10px 20px;
}

nav {
  margin-left: auto;
}

nav ul {
  display: flex;
  flex-direction: row;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

nav ul li {
  padding: 10px 20px;
}

nav ul li a {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  text-decoration: none;
  transition: color 0.5s ease-in-out;
  text-shadow: 0.5s ease-in-out;
}

nav ul li a:hover {
  color: var(--primary)
  text-shadow: 0px 0px 5px var(--secondary);
}

body figure {
  background-image: url(../images/bg.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding: 0px;
  margin: 0px;
  min-height: 300px;
  display: flex;
}

footer {
  font-family: "Open Sans", sans-serif;
  color: var(--secondary);
  text-align: center;
  padding: 5px 10px;
  font-weight: bold;
  position: relative;
}

@media (max-width: 1024px) {
  main > section > article {
    flex-direction: column;
  }

  main > section > article > figure:is(.small, .big) {
    max-width: 100%;
  }
}
